.MenuListItem {
    width: 200px;
    align-items: center;
    padding: 10px;
    color: var(--text-light);
    border: .1vmin solid var(--tan-3);
    border-radius: 1vmin;
    font-size: 4vmin;
    background-color: yellow;
    height: 220px;
    display: flex;
    flex-direction: row;
    object-fit: contain;
}

.MenuListItem:hover {
    background-color: lightseagreen;
}

.MenuListItem img {
    height: 150px;
    width: 150px;
    font-size: 4vw;
    background-color: var(--tan-1);
    border: .1vmin solid var(--tan-3);
    border-radius: 1vmin;
}

.MenuListItem .buy {
    display: flex;
    flex-direction: column;
    /* background-color: orange; */
    width: 30px;
    padding: 0px;
}

.MenuListItem .buy span {
    font-size: 1.5vw;
    text-align: center;
    color: black;
}

.MenuListItem .name {
    font-size: 1.5vw;
    text-align: center;
    color: black;
}

.MenuListItem .btnsm {
    padding: 15px;
    background-color: rgb(203, 58, 172);
}