.MenuListItem {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* margin-bottom: 3vmin; */
    padding: 10px;
    color: var(--text-light);
    background-color: var(--white);
    border: .1vmin solid var(--tan-3);
    border-radius: 1vmin;
    font-size: 4vmin;
    background-color: blue;
}

.MenuListItem .emoji {
    /* height: 20px;
    width: 20px; */
    font-size: 4vw;
    background-color: var(--tan-1);
    border: .1vmin solid var(--tan-3);
    border-radius: 1vmin;
}

.MenuListItem .buy {
    display: flex;
    flex-direction: column;
    /* background-color: orange; */
    width: 30px;
    padding: 0px;
}

.MenuListItem .buy span {
    font-size: 1.5vw;
    text-align: center;
    color: var(--text-light);
}

.MenuListItem .name {
    font-size: 1.5vw;
    text-align: center;
    color: var(--text-light);
}

.MenuListItem .btnsm {
    padding: 15px;
    background-color: rgb(203, 58, 172);
}