.CategoryList {
    color: var(--text-light);
    list-style: none;
    padding: 0;
    font-size: 1.7vw;
    background-color: transparent;
}

.CategoryList li {
    padding: .6vmin;
    text-align: center;
    border-radius: .5vmin;
    margin-bottom: .5vmin;
    text-align: left;
    color: black;
}

.CategoryList li:hover:not(.active) {
    cursor: pointer;
    background-color: var(--blue);
    color: var(--white);
}

.CategoryList .active {
    color: var(--white);
    background-color: black;
    border: .1vmin solid var(--tan-3);
    text-align: center;
}